body {
  font-family: Montserrat;
  background-color: rgb(120, 122, 125);
}

/* App.js */
/* Parent container */
.parent-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Container */
.container {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15vh;
}

/* Left child containers */
.left {
  height: 100%;
}

/* Right child container */
.right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* end App.js */

/* Notification */
.added, .error {
  width: 30%;
  height: 20%;
  color: white;
  background: rgb(142, 205, 200);
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 80%;
}

.error {
  background: rgb(190, 85, 96);
}
/* End notification */

.text-and-box {
  width: 100%;
  display: flex;
  padding-bottom: 2%;
  justify-content: space-between;
}

.Contacts {
  overflow-y: auto;
}