
body {
  font-family: Montserrat, Helvetica, sans-serif;
  background-image: linear-gradient(to top left, #6907F2, #dce6f2ea);
  color: #DCE6F2;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.512);
  padding: 0;
  margin: 0;
}

input {
  border: none;
  background-color: #dce6f2ea;
  border-radius: 4px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.688);
}

/* App.js */
/* Parent container */
.parent-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*Container */
.container {
  background-image: linear-gradient(to bottom right, #6907f25b, #1E0D8C);
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 5px 10px 40px black;
  width: 70%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8%;
  padding: 2%;
}

/* Left and right child containers */
.left, .right {
  min-width: 270px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2% 2%;
}

/* end App.js */

/* Notification */
.added, .error {
  width: 30%;
  height: 20%;
  color: white;
  background: #1E0D8C;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 80%;
}

.error {
  background: rgb(190, 85, 96);
}
/* End notification */

.text-and-box {
  width: 100%;
  display: flex;
  padding-bottom: 2%;
  align-items: center;
  justify-content: space-between;
}

.add-parent {
  padding-top: 10px;
}

.add {
  width: 100%;
  height: 40px;
  border: none;
  background-image: linear-gradient(to top left, #6907f2, #9904d9ab);
  color:#dce6f2ea;
  border-radius: 6px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.601);
}

/* List of contacts */
.Contacts::-webkit-scrollbar {
  width: 6px;
}

.Contacts::-webkit-scrollbar-thumb {
  background: #DCE6F2;
  border-radius: 6px;
}

.Contacts::-webkit-scrollbar-track {
  background:#1E0D8C;
}

.Contacts {
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.person-name {
  font-size: larger;
}

.person-number {
  font-size: smaller;
}

.delete-and-gap {
  display: flex;
}

.delete {
  width: 36px;
  height: 36px;
  background-image:linear-gradient(to top left, #9904D9, #6907F2);
  font-size: 1.6rem;
  font-weight: 100;
  color: white;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px black;
}

.delete-gap {
  width: 4px;
}