body {
  font-family: Montserrat, Helvetica, sans-serif;
  background-color: rgb(169, 169, 169);
}


/* App.js */
/* Parent container */
.parent-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*Container */
.container {
  box-sizing: border-box;
  border: 1px solid;
  height: 60%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8%;
  padding: 2%;
}

/* Left and right child containers */
.left, .right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2%;
}

/* end App.js */

/* Notification */
.added, .error {
  width: 30%;
  height: 20%;
  color: white;
  background: rgb(142, 205, 200);
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 80%;
}

.error {
  background: rgb(190, 85, 96);
}
/* End notification */

.text-and-box {
  width: 100%;
  display: flex;
  padding-bottom: 2%;
  justify-content: space-between;
}

.Contacts {
  overflow-y: auto;
}